@import './bootstrap.min';
// @import './font-awesome.min';
// @import 'font-awesome-4.7.0/css/font-awesome.min';
// @import 'font-awesome-4.7.0/scss/font-awesome';
// @import '../font-awesome-4.7.0/css/font-awesome.min';
@import 'font-awesome-4.7.0/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
      -ms-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin transform-rotate($deg) {
  -webkit-transform: rotate($deg); 
     -moz-transform: rotate($deg); 
      -ms-transform: rotate($deg); 
       -o-transform: rotate($deg); 
          transform: rotate($deg);
}



// .custom-row {
//     margin: 0;
// }
// .custom-section {
//     padding: 0;
// }
// .visible {
//     display: block;
// }
// .hidden {
//     display: none;
// }

body {
  background: #323232;
}

.side-menu {
  display: block;
  background: black;
  height: 110vh;
}

.logo-section {
  display: block;
  position: relative;
  z-index: 2;
  padding: 40%;
  width: 100%;
  height: 10vh;
  // background: ;
  background: url(../img/logo.png) center center no-repeat #f9c616;
  @include background-size(50%);
}

.nav-item {
  margin: 0;
  padding: 5px 0 0 0;
  box-sizing: border-box;
  height: 5vh;
  color: #f9c616;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  &:active, &:hover, &:focus {
    background: #f5f5f5;
    border-right: 5px solid #6b6b6b; 
    color: #323232;
  }
  span {
    margin: 0 0 0 15%;
  }
}

.active-links {
  display: flex;
  justify-content: flex-end;
  margin: 7vh 0 0 0;
  padding: 0;
  height: 4vh;
  border-right: 1px solid #f9c616;
}

.fb {
  margin: 0 4px 0 0;
  display: inline-block;
  height: 21px;
  width: 21px;
  content: "";
  background: url(../img/fb.png) center center no-repeat;
  @include background-size(cover);
}
.insta {
  margin: 0 4px 0 0;
  display: inline-block;
  height: 21px;
  width: 21px;
  content: "";
  background: url(../img/insta.png) center center no-repeat;
  @include background-size(cover);
}
.v {
  margin: 0 4px 0 0;
  display: inline-block;
  height: 21px;
  width: 21px;
  content: "";
  background: url(../img/v.png) center center no-repeat;
  @include background-size(cover);
}

.pass-links {
  display: flex;
  justify-content: flex-start;
  margin: 7vh 0 0 0;
  padding: 0;
  height: 4vh;
}
.ik {
  margin: 0 0 0 4px;
  display: inline-block;
  height: 21px;
  width: 21px;
  content: "";
  background: url(../img/ik.png) center center no-repeat;
  @include background-size(cover);
}

.contacts {
  margin: 1.8vh 0 0 0;
  font-family: 'Roboto', sans-serif;
  p {
    margin: 0 0 0 2vw;
    font-size: 1em;
    color: #b3b2b2;
  }
}


.home {
  height: 91vh;
  background: url(../img/main.jpg) center center no-repeat;
  @include background-size(cover);
}

.latest-works {
  text-align: center;
  color: #f9c616;
  font-family: 'Montserrat', sans-serif;
  margin: 12px 0 0 0;
  h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  }
}

.main-content {
  position: relative;
  top: 30%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  h2 {
    margin: 0 0 7vh 0;
    font-weight: 900;
    font-size: 1.8em;
  }
  h1 {
    margin: 0;
    font-weight: 900;
    font-size: 3em;
  }
  a {
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    background: #ffc600;
    color: #323232;
  }
}



.close-icon {
  position: fixed;
  top: 12vh;
  right: 25vw;
  // margin: 0 0 0 4px;
  display: inline-block;
  height: 21px;
  width: 21px;
  content: "";
  background: url(../img/close-icon.png) center center no-repeat;
  @include background-size(cover);
  cursor: pointer;
}

.contact-form-section {
  // display: none;
  display: block;
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: rgba(39,22,19,.65);
}

.contact-form {
  margin: 20vh 0 0 0;
  background: #f5f5f5;
}

.contact-info {
  height: 50vh;
}

.contact-logo {
  display: block;
  position: relative;
  z-index: 2;
  padding: 4%;
  width: 100%;
  height: 100%;
  // background: ;
  background: url(../img/logo.png) center center no-repeat;
  @include background-size(50%);
}


.user-contacts-section {
  margin-top: 25px;
  p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px 0 0 0;
  }
}

.user-contact {
  width: 115%;
  border: none;
  background: #eaeaea;
}
.contact-textarea {
  width: 107%;
  border: none;
  background: #eaeaea;
}

.send-request-contact {
  input {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin: 10px 0 10px 0;
    background: #f9c616;
    padding: 3px 43px 3px 43px;
    border: none;
    outline: none;
  }
}

