@import './bootstrap.min';
// @import './font-awesome.min';
// @import 'font-awesome-4.7.0/css/font-awesome.min';
// @import 'font-awesome-4.7.0/scss/font-awesome';
// @import '../font-awesome-4.7.0/css/font-awesome.min';


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition-duration($duration) {
  -webkit-transition-duration: $duration;
     -moz-transition-duration: $duration;
      -ms-transition-duration: $duration;
       -o-transition-duration: $duration;
          transition-duration: $duration;
}

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin transform-rotate($deg) {
  -webkit-transform: rotate($deg); 
     -moz-transform: rotate($deg); 
      -ms-transform: rotate($deg); 
       -o-transform: rotate($deg); 
          transform: rotate($deg);
}



// .custom-row {
//     margin: 0;
// }
// .custom-section {
//     padding: 0;
// }
// .visible {
//     display: block;
// }
// .hidden {
//     display: none;
// }

